@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    width: 100%;
}

/*Header section*/

.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #5073fb;
    border-bottom: 4px solid #01135c;
}

.logo {
    padding-left: 10px;
}

.logo img
{
    margin-top: 0.5px;
    margin-left: 25px;
    width: 250px;
    height: 50px;
}

.logo span {
    color: #5073fb;
}

.search--notification--profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 300px);
    padding-left: 280px;
}

.notification--profile {
    display: flex;
    margin-left: 1120px;
}

.picon {
    display: flex;
    margin-left: -10px;
    font-size: 1.1rem;
    padding: 1px;
    align-items: center;
}

.lock {
    color: #5073fb;
    background-color: rgba(80, 115, 251, .2);
}

.bell {
    color: #f1d243;
    margin-left: -38px;
    margin-right: 25px;
}

.header .search--notification--profile .notification--profile .bell:hover{
    background-color: rgba(93, 185, 255, 0.866);
    border-radius: 3px;
    padding: 5px;
}

.chat 
{
    text-decoration: none;
    color: #ffffff;
    margin-left: 5px;
}

.header .search--notification--profile .notification--profile a:hover 
{
    background-color: rgba(93, 185, 255, 0.866);
    padding: 5px;
    border-radius: 3px;
}

.picon a {
    text-decoration: none;
    color: #fff;
}

.profile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 3px;
    background-color: #000;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color: #ffffff;  
}

.sub_menu_of_profile
{
    display: none;
}

/*Side bar*/

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #ffffff;
    padding: 5.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 4px solid #01135c;
    border-left: 4px solid #01135c;
    border-bottom: 4px solid #01135c;
    transition: .3s;
}

.sidebar.active {
    width: 103px;
    overflow: hidden;
}

.sidebar.active .sidebar--item {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.sidebar--items a,
.sidebar--bottom-items a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 0px;
}

.sidebar--items a:hover,
.sidebar--bottom-items a:hover {
    background-color: #5073fb;
    color: #fff;
}

#active--link {
    background-color: #5073fb;
    color: #fff;
}

.sidebar--bottom-items li:last-child a {
    margin-bottom: 0;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 1.3rem;
}

.icon-0 {
    color: #5073fb;
}

.icon-1 {
    color: #c5bc58;
}

.icon-2 {
    color: #a280e9;
}

.icon-3 {
    color: #85ade3;
}

.icon-4 {
    color: #e36ac8;
}

.icon-5 {
    color: #70d7a5;
}

.icon-6 {
    color: #5f5ce0;
}

.icon-7 {
    color: #e86786;
}

.icon-8 {
    color: #f1d243;
}

/* main--content */

.main--content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 300px);
    padding: 1 0 40px; 
    overflow-y: scroll;
    transition: .3s;
}

.main--content.active {
    width: calc(100% - 103px);
}

.facreg
{
    margin-bottom: 60px;
}

.facreg2
{
    position: relative;
    margin-bottom: 20px;
}

.title 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}

.section--title 
{
    font-weight: 400;
    margin-bottom: 80px;
}

.form .fileup input
{
    border: none;
}

.form
{
    width: 650px;
    height: auto;
    background: #5073fb;
    position: relative;
    top: 60px;
    left: 200px;
    border-radius: 10px;
    border: 2.5px solid rgb(255, 255, 255);
    padding: 25px;
    /* align-items: center; */
}

.form h2
{
    width: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    font-size: 30px;
    margin: 2px;
    padding: 8px;
}

.form p
{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form input
{
    width: 100% ;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.881);
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.form input:focus
{
    outline: none;
}

.form select
{
    width: 100% ;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.881);
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.form select:focus
{
    outline: none;
}

::placeholder
{
    columns: rgb(255, 255, 255);
    font-family: Arial;
    color: rgb(0, 0, 0);
}

.loginbutton
{
    width: 350px;
    height: 45px;
    background: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: 120px;
    font-size: 25px;
    font-family: Impact;
    border-radius: 15px;
    cursor: #fff;
    transition: 0.3s ease-in-out;
}

.loginbutton:hover
{
    background: rgba(255, 238, 0, 0.916);
}

.loginbutton a
{
    text-decoration: none;
    color: black;
}

.loginbutton ::-ms-value:hover
{
    color: green;
    font-size: 27px;
}

.error 
{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}